body {
    background-color: #b2dbed;
    background-image: url("pexels-anna-shvets-3786215_extended.jpg");
    background-size: contain;
    font-family: "Arial";
    color: #000;
    font-weight: 100;
}

.top_menu {
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    background-color: #1466be;
    border-radius: 8px;
    padding: 5px 0px 5px 0px;
}

.top_menu_element:hover {
    color: #1466be;
    background-color: #b2dbed;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    background-color: #b2dbed;
    border-radius: 8px;
    opacity: 0.9;
    padding: 15px;
    margin: auto;
    max-width: 1000px;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
    font-weight: 200;
}

h2 {
    font-size: 25px;
    font-weight: 150;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}

p {
    font-size: 18x;
}

.vax_chart_footer {
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}

.vax_chart_code_name {
    text-align: center;
    font-size: 10px;
    padding-top: 5px;
    color: #999;
}
