/*
    palette
    https://color.adobe.com/Green-Globe-On-Moss---Environmental-Concept--color-theme-12819809/

    .Green-Globe-On-Moss---Environmental-Concept
    -1-hex { color: #042940; }
    .Green-Globe-On-Moss---Environmental-Concept
    -2-hex { color: #005C53; }
    .Green-Globe-On-Moss---Environmental-Concept
    -3-hex { color: #9FC131; }
    .Green-Globe-On-Moss---Environmental-Concept
    -4-hex { color: #DBF227; }
    .Green-Globe-On-Moss---Environmental-Concept
    -5-hex { color: #D6D58E; }

*/

body {
    background-color: #042940;
    background-image: url("99dc56158708f6af51244981a7c6187c.jpg");
    background-size: contain;
    font-family: "Arial";
    color: #000;
    font-weight: 100;
    /*text-align: center;*/
}

.menu {
    font-size: 12px;
    color: #DBF227;
    margin-bottom: 20px;
    text-align: center;
    background-color: #005C53;
    border-radius: 8px;
    padding: 5px 0px 5px 0px;
}

.menu_element {
    padding: 0px 10px 0px 10px;
}

.menu_element:hover {
    color: #D6D58E;
    background-color: #042940;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0.9;
    padding: 15px;
    margin: 0px;
    max-width: 1000px;
    border: 1px solid #005C53;
}

.center {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
}

.menu_text {
    color: #042940;
    font-weight: bold;
}

h1 {
    font-size: 30px;
    font-weight: 200;
}

h2 {
    font-size: 25px;
    font-weight: 150;
}

h3 {
    font-size: 20px;
    font-weight: 100;
}

p {
    font-size: 18x;
}

.linethrough {
    text-decoration: line-through;
}
